body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
html{
    scroll-behavior: smooth;
}
header{
    background-color: #333;
    color:#fff;
    padding: 2Opx;
    text-align: center;
    
}
header h1{
    margin: 0;
}

nav ul{
    list-style-type:none;
    padding: 0;
    position: fixed;
}
nav ul li{
    display:inline;
    margin-right:20px;
}
nav ul li a {
    color:#fff;
    text-decoration: none;
}
 #HOME{
    padding: 20px;
    background-image:linear-gradient(rgb(0,0,0,0.4),rgb(0,0,0,0.4)),url("images/img6.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}
.text{
    color: #fff;
    text-align: center;
    padding:180px;
}


#PRODUCTS{
    margin-top:0.5px;
    background-color:#999;
    
}
.shop{
    text-align: center;
    color:#333;
}

.product{
    display: inline-block;
    margin-right:10px;
    text-align: center;
    color: #fff;
    /* display: flex;
    align-items: center; */
}
.product img {
    width: 100px;
    height: auto;
    /* display: flex;
    align-items: center; */
}
/* .image-details{
    width:50rem;
    height:0;
    padding-bottom: 
    float: right;
    margin: center 10px;
    
} */
#IMAGES{
    padding-bottom: 0.1px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    margin-bottom: 20px;
}
.col{
    flex:1;
    padding: 0 110px;
    border: 1px solid #999;
    margin-bottom: 15px;
    float: center;
    background-image: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5));
}
#CONTACT{
    padding: 0.1rem;
    background-color:#999;
    
}
.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .container h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    height: 150px;
  }
  
  button[type="submit"] {
    background-color: #5a5c5a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #5a5c5a;
  }
  
    



